<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 数据库配置文件 -->
    <properties resource="db-config.properties"></properties>
    
    <!-- 配置日志打印 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    
    <!-- 数据源配置 -->
    <environments default="def">
        <environment id="def">
            <!-- 事务管理器 -->
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}" />
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>

	<!-- 加载 Mapper 映射文件 -->
    <mappers>
        <mapper class="com.easyMybatis.mapper.BaseMapper"/>
    </mappers>
    
</configuration>